<form action="/login" method="post">
    <input type="text" name="username" id="username" placeholder="Номер лицевого счета, т.е. 123">
    <input type="password" name="password" id="password" placeholder="Пароль">
    <button type"submit">Войти</button>
</form>
